include {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}.LICENSE
include {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}.CITATION
include {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}.VERSION
recursive-include {{cookiecutter.project_slug}} *
